openapi: 3.1.0
info:
  title: Assessment Service Assessment Groups Comments API
  version: 1.0.0
  description: 'APIs for managing Assessment and related operations on the Synack.

    '
  contact:
    name: Synack Engineering
    email: engineering@synack.com
servers:
- url: https://client.synack.com/api/assessment
  description: Commercial
- url: https://client.synack.us/api/assessment
  description: FedRAMP (Medium)
security:
- bearerAuth: []
tags:
- name: Comments
  description: Operations related to comments
paths:
  /v1/vulnerabilities/{vulnerability_id}/comments:
    get:
      operationId: getVulnerabilityComments
      summary: Get vulnerability comments
      description: Retrieve comments for a specific vulnerability
      tags:
      - Comments
      parameters:
      - name: vulnerability_id
        in: path
        required: true
        schema:
          type: string
        description: Vulnerability ID
      responses:
        '200':
          description: Comments retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Comment'
        '404':
          description: Vulnerability not found
    post:
      operationId: createVulnerabilityComment
      summary: Create a vulnerability comment
      description: Create a new comment for a specific vulnerability
      tags:
      - Comments
      parameters:
      - name: vulnerability_id
        in: path
        required: true
        schema:
          type: string
        description: Vulnerability ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - text
              properties:
                text:
                  type: string
                  description: Comment text
                type:
                  type: string
                  description: Comment type
      responses:
        '201':
          description: Comment created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        '400':
          description: Bad request
        '404':
          description: Vulnerability not found
components:
  schemas:
    Attachment:
      type: object
      properties:
        id:
          type: integer
        filename:
          type: string
        content_type:
          type: string
        file_size:
          type: integer
        created_at:
          type: string
          format: date-time
    Comment:
      type: object
      properties:
        id:
          type: integer
        text:
          type: string
        type:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        user:
          $ref: '#/components/schemas/CommentUser'
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/Attachment'
    CommentUser:
      required:
      - email
      - id
      - name
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
          description: name of the user
        email:
          type: string
          description: e-mail address of the user
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
