openapi: 3.2.0
info:
  title: Synack Vulnerability Statuses API
  version: 2.0.0
  description: Comprehensive API for Synack's security testing platform, providing endpoints for managing assessments, vulnerabilities, users, and security testing operations.
  contact:
    name: Synack Engineering
    email: engineering@synack.com
  license:
    name: Proprietary
servers:
- url: https://api.synack.com
  description: Commercial - V1 API
- url: https://api.synack.us
  description: FedRAMP (Medium) - V1 API
security:
- BearerAuth: []
- BasicAuth: []
- ApiKeyAuth: []
tags:
- name: Vulnerability Statuses
  description: Operations related to vulnerability statuses
paths:
  /v1/vulnerability_statuses:
    get:
      operationId: getVulnerabilityStatuses
      summary: Get vulnerability statuses
      description: Retrieve a list of available vulnerability statuses
      tags:
      - Vulnerability Statuses
      responses:
        '200':
          description: Vulnerability statuses retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    description:
                      type: string
        '401':
          description: Unauthorized
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    BasicAuth:
      type: http
      scheme: basic
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Auth
