openapi: 3.1.0
info:
  title: Assessment Service Assessment Groups Hosts API
  version: 1.0.0
  description: 'APIs for managing Assessment and related operations on the Synack.

    '
  contact:
    name: Synack Engineering
    email: engineering@synack.com
servers:
- url: https://client.synack.com/api/assessment
  description: Commercial
- url: https://client.synack.us/api/assessment
  description: FedRAMP (Medium)
security:
- bearerAuth: []
tags:
- name: Hosts
  description: Host assets.
paths:
  /v2/bulk/assets:
    post:
      operationId: postAssetBulk
      tags:
      - Hosts
      description: 'Creates Assets in my Synack org. Note: In the Body, choose the Object pull down that corresponds to the asset type you want to add; Object 1 for Cloud, Object 2 for Hosts, Object 3 for Mobile, Object 4 for Networks, Object 5 for Web. For example; to add more than 1 Host IP address, choose Option 2, then specify multiple IP ranges with /32 CIDRs (adding a new Item for each).

        '
      x-mint:
        metadata:
          title: Bulk Create Assets
      requestBody:
        description: Supply Asset UID for the asset to upsert
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SingleOrMultiAsset'
      responses:
        '201':
          $ref: '#/components/responses/SingleOrMultiAssetResponse'
        '202':
          $ref: '#/components/responses/202StatusAccepted'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '409':
          $ref: '#/components/responses/409Conflict'
        '413':
          $ref: '#/components/responses/413RequestEntityTooLarge'
        '422':
          $ref: '#/components/responses/422EntityNotProcessable'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
      security:
      - OAuth2:
        - asset_gw
        - asset_client_ow
        - asset_boss_ow
        - asset_client_lw
        - asset_boss_lw
  /v2/bulk/assets/lifecycle-state:update:
    post:
      operationId: bulkUpdateAssetLifecycleState
      tags:
      - Hosts
      description: 'Bulk updates the asset life cycle property. Checks the validity of assets and returns 409 Conflict if rules are violated.

        '
      x-mint:
        metadata:
          title: Bulk Update Asset Lifecycle State
      requestBody:
        description: Supply Organization UID, Asset UIDs for the assets to update, and the lifecycle state to update to.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetBulkLifecycleStateUpdate'
      responses:
        '200':
          $ref: '#/components/responses/AssetBulkLifecycleStateUpdateResponse'
        '202':
          $ref: '#/components/responses/202StatusAccepted'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '409':
          $ref: '#/components/responses/409Conflict'
        '413':
          $ref: '#/components/responses/413RequestEntityTooLarge'
        '422':
          $ref: '#/components/responses/422EntityNotProcessable'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
      security:
      - OAuth2:
        - asset_gw
        - asset_client_ow
        - asset_boss_ow
        - asset_client_lw
        - asset_boss_lw
  /v2/assets:
    get:
      operationId: getAssets
      tags:
      - Hosts
      description: 'Retrieve the list of assets for one or more organizations, considering filtering and pagination query parameters. When an organization-level OAuth2 scope is provided, the results will be restricted to those organizations the user is authorized for. Similarly, if a listing- level OAuth2 scope is provided, the results will be restricted to those listings the user is authorized for.

        Additional query parameters generally restrict the resulting set of assets according to AND semantics.

        Use of organizationUid and listingUid query parameters will further restrict the results.

        If neither are specified, the returned assets are the set of assets the user is allowed to access with organization OR listing specific privileges.

        If listing UIDs are supplied without organization UIDs, then only the assets assigned to those listings (which the user is authorized for) will be returned. Conversely, if organization UIDs are supplied without listing UIDs, then only the assets owned by those organizations (which the the user is authorized for) will be returned.

        Should both organization UIDs and listing UIDs be supplied, then the set of assets returned is restricted to assets assigned to any of the supplied listings, AND owned by any of the supplied organizations, further restricted to only those the user is authorized to access.

        Researcher users are restricted to only viewing credentials of in scope assets for listings to which they have been assigned.

        '
      x-mint:
        metadata:
          title: Get Assets
      parameters:
      - $ref: '#/components/parameters/OrganizationUIDQuery'
      - $ref: '#/components/parameters/ListingUIDQuery'
      - $ref: '#/components/parameters/AssetTypeQuery'
      - $ref: '#/components/parameters/HostTypeQuery'
      - in: query
        name: search
        schema:
          type: string
        required: false
        description: 'Optional query parameter for a search string that will be used to match within the label or location properties of assets. If this query parameter is provided, any location query parameter will be ignored.

          '
      - in: query
        name: active
        schema:
          type: boolean
        required: false
        description: 'Optional parameter that determines whether the response includes assets regardless of active state (the default, if this query parameter is not provided); active assets only if true; or inactive assets only if false.

          '
      - in: query
        name: inProduction
        schema:
          type: boolean
        required: false
        description: 'Optional query parameter that determines whether production or non-production assets will be included in the response.

          '
      - in: query
        name: maxHostDiscoveryAgeMins
        schema:
          type: integer
          default: 0
        required: false
        description: 'Optional query parameter to get host assets which are discovered by cloudEnumeration scanner shifted by maxHostDiscoveryAgeMins. Assets which are added via boss or discovered by other type of scanners will be included in response. E.g. CloudEnumeration hosts are valid for 1 hour from each time they are discovered, maxHostDiscoveryAgeMins=0 means that if the end time of the relationship has passed, the asset will not be returned - maxHostDiscoveryAgeMins=60 however, would return assets that were still valid 60 minutes ago

          '
      - in: query
        name: scope[]
        schema:
          type: array
          items:
            $ref: '#/components/schemas/Scope'
        required: false
        explode: true
        description: Restrict the returned assets to only assets associated to listings by the specified scopes.
      - in: query
        name: cloudPlatform[]
        schema:
          type: array
          items:
            $ref: '#/components/schemas/CloudPlatform'
        required: false
        explode: true
        description: Restrict the returned assets to only assets enumerated from a particular cloud platform.
      - in: query
        name: location
        schema:
          type: string
        required: false
        description: 'Prefix search of the derived location property.

          '
      - in: query
        name: errorCode[]
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ErrorCode'
        required: false
        explode: true
        description: Filter assets to only include assets with matching error codes.
      - in: query
        name: portNumber[]
        schema:
          type: array
          items:
            $ref: '#/components/schemas/PortNumber'
        required: false
        explode: true
        description: Filter assets to only include hosts with open ports matching the port number.
      - in: query
        name: maxOpenPorts
        schema:
          type: integer
          format: int32
          minimum: 0
          maximum: 65535
        required: false
        description: Max open ports from a single IP address.
      - in: query
        name: hasNetwork
        schema:
          type: boolean
        required: false
        description: 'Filter assets to include/exclude those with networks.

          Deprecating.

          '
      - in: query
        name: networkUid[]
        schema:
          type: array
          items:
            $ref: '#/components/schemas/UID'
        required: false
        explode: true
        description: 'Unique identifier for a network.

          If not supplied the request will apply to all networks the user is authorized to access.

          Deprecating.

          '
      - in: query
        name: gatewayId[]
        schema:
          type: array
          items:
            $ref: '#/components/schemas/GatewayID'
        required: false
        explode: true
        description: 'Unique gateway id.

          If not supplied the request will apply to all gateways.

          '
      - in: query
        name: earliestCreatedAt
        schema:
          type: string
          format: date-time
        required: false
        description: Filter assets with a createdAt date greater or equal to this value
      - in: query
        name: latestCreatedAt
        schema:
          type: string
          format: date-time
        required: false
        description: Filter assets with a createdAt date less than or equal to this value
      - in: query
        name: userUid
        schema:
          $ref: '#/components/schemas/UserUID'
        required: false
        description: Restricts the credentials to only those available to the user. This query parameter is ignored if the user is a researcher.
      - in: query
        name: relationshipTargetAssetUid
        schema:
          $ref: '#/components/schemas/AssetUID'
        required: false
        description: 'Filter assets which have a relationship with targetAssetUid equal to this value.

          '
      - in: query
        name: relationshipType
        schema:
          $ref: '#/components/schemas/AssetRelationshipType'
        required: false
        description: 'Filter assets which have a relationship of this type.

          '
      - $ref: '#/components/parameters/PerPageQuery'
      - $ref: '#/components/parameters/PageQuery'
      - in: query
        name: sort
        schema:
          type: string
          enum:
          - location
          - label
          - createdAt
          - updatedAt
          - lastReachableAt
          - lastScan
        description: Optional property to sort results by.
        required: false
      - $ref: '#/components/parameters/SortDirQuery'
      - in: query
        name: origin
        schema:
          type: string
          enum:
          - provided
          - discovered
        description: Optional property to filter results by human created or system discovered assets.
        required: false
      - name: lifecycleState[]
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - confirmed
            - unconfirmed
            - archived
            - ignored
        description: Optional property to filter results by asset lifecycle state. When not supplied, all assets except `archived` will be returned.
      - in: query
        name: omitFields
        description: Fields to omit from response.
        schema:
          type: array
          items:
            type: string
            enum:
            - ALL
            - relationships
            - externalRelationships
            - ports
            - networks
            - scopeRules
            - binaries
            - userRoles
      - $ref: '#/components/parameters/IpRanges'
      responses:
        '200':
          $ref: '#/components/responses/PaginatedArrayOfAssets'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
      security:
      - OAuth2:
        - asset_gr
        - asset_or
        - asset_lr
        - asset_srt_lr
        - asset_scan_gr
    post:
      operationId: postAsset
      tags:
      - Hosts
      description: 'Creates an asset in my Synack org. In the Body, choose the Object pull down that corresponds to the asset type you want to add; Object 1 for Cloud, Object 2 for Host, Object 3 for Mobile, Object 4 for Network, Object 5 for Web

        '
      x-mint:
        metadata:
          title: Create Asset
      requestBody:
        description: Asset to create. If the asset is of cloud account type, only its metadata returned in the response as credential data is restricted to asset_scan_gr scope. If the asset is of webapp type, corresponding FQDN or IP host asset will also be created.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SingleOrMultiAsset'
      responses:
        '201':
          $ref: '#/components/responses/SingleOrMultiAssetResponse'
        '202':
          $ref: '#/components/responses/202StatusAccepted'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '409':
          $ref: '#/components/responses/409Conflict'
        '413':
          $ref: '#/components/responses/413RequestEntityTooLarge'
        '422':
          $ref: '#/components/responses/422EntityNotProcessable'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
      security:
      - OAuth2:
        - asset_gw
        - asset_client_ow
        - asset_boss_ow
        - asset_client_lw
        - asset_boss_lw
  /v2/assets/{assetUid}/whois:
    parameters:
    - $ref: '#/components/parameters/AssetUIDPath'
    get:
      operationId: getWHOIS
      tags:
      - Hosts
      description: 'Retrieves the WHOIS data for a single asset.

        '
      x-mint:
        metadata:
          title: Get WHOIS for Asset
      responses:
        '200':
          $ref: '#/components/responses/WHOISResponse'
      security:
      - OAuth2:
        - asset_gr
        - asset_or
        - asset_lr
        - asset_srt_lr
        - asset_scan_gr
    put:
      x-excluded: true
      operationId: putWHOIS
      tags:
      - Hosts
      description: 'Adds the WHOIS data to a single asset.

        '
      requestBody:
        description: WHOIS data to add to asset.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WHOISRequest'
      responses:
        '200':
          $ref: '#/components/responses/WHOISResponse'
      security:
      - OAuth2:
        - asset_gw
        - asset_client_ow
        - asset_boss_ow
        - asset_client_lw
        - asset_boss_lw
  /v2/assets/{assetUid}:
    parameters:
    - $ref: '#/components/parameters/AssetUIDPath'
    get:
      operationId: getAsset
      tags:
      - Hosts
      description: 'Retrieves a single asset. If the user is a researcher, only the credentials they are authorized to access will be returned. If the asset is of cloud account type, only a user with asset_scan_gr scope can access its credential data.

        '
      x-mint:
        metadata:
          title: Get Asset
      parameters:
      - in: query
        name: userUid
        schema:
          $ref: '#/components/schemas/UserUID'
        required: false
        description: Restricts the credentials to only those available to the user. This query parameter is ignored if the user is a researcher.
      responses:
        '200':
          $ref: '#/components/responses/SingleAssetResponse'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
      security:
      - OAuth2:
        - asset_gr
        - asset_scan_gr
        - asset_or
        - asset_lr
        - asset_srt_lr
    patch:
      operationId: patchAsset
      tags:
      - Hosts
      description: 'Patches the properties of a single asset.

        '
      x-mint:
        metadata:
          title: Patch Asset
      requestBody:
        description: Asset properties to patch.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SingleAsset'
      responses:
        '200':
          $ref: '#/components/responses/SingleAssetResponse'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
      security:
      - OAuth2:
        - asset_gw
        - asset_client_ow
        - asset_boss_ow
        - asset_client_lw
        - asset_boss_lw
    delete:
      x-excluded: true
      operationId: deleteAsset
      tags:
      - Hosts
      description: 'Deletes an asset. This is intended to be a privileged operation. Regular use should be to mark the asset as inactive. Any relationships that involve the deleted asset will be also be deleted, as will any association to listings.

        '
      responses:
        '204':
          $ref: '#/components/responses/204NoContent'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
      security:
      - OAuth2:
        - asset_gw
        - asset_client_ow
        - asset_boss_ow
        - asset_client_lw
        - asset_boss_lw
  /v2/assets/{assetUid}/ports/{portNumber}/{portProtocol}:
    parameters:
    - $ref: '#/components/parameters/AssetUIDPath'
    - $ref: '#/components/parameters/PortNumberPath'
    - $ref: '#/components/parameters/PortProtocolPath'
    put:
      x-excluded: true
      operationId: putHostPort
      tags:
      - Hosts
      description: 'Upsert a port to a host asset. Will return 409 status if the asset is not a single host (i.e. a CIDR).

        '
      parameters:
      - $ref: '#/components/parameters/IfMatch'
      requestBody:
        description: Port properties to upsert.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Port'
      responses:
        '200':
          $ref: '#/components/responses/SinglePort'
        '201':
          $ref: '#/components/responses/SinglePort'
        '204':
          $ref: '#/components/responses/204NoContent'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '409':
          $ref: '#/components/responses/409Conflict'
        '412':
          $ref: '#/components/responses/412PreconditionFailed'
        '422':
          $ref: '#/components/responses/422EntityNotProcessable'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
      security:
      - OAuth2:
        - asset_gw
        - asset_client_ow
        - asset_boss_ow
        - asset_client_lw
        - asset_boss_lw
    patch:
      x-excluded: true
      operationId: patchHostPort
      tags:
      - Hosts
      description: 'Update properties of a port belonging a single-IP host asset.

        '
      parameters:
      - $ref: '#/components/parameters/IfMatch'
      requestBody:
        description: Asset properties to patch.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PortUpdate'
      responses:
        '200':
          $ref: '#/components/responses/SinglePort'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '412':
          $ref: '#/components/responses/412PreconditionFailed'
        '422':
          $ref: '#/components/responses/422EntityNotProcessable'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
      security:
      - OAuth2:
        - asset_gw
        - asset_client_ow
        - asset_boss_ow
        - asset_client_lw
        - asset_boss_lw
    delete:
      x-excluded: true
      operationId: deleteHostPort
      tags:
      - Hosts
      description: 'Delete a port from a host asset. Will return 409 status if the asset is not a single host (i.e. a CIDR).

        '
      responses:
        '204':
          $ref: '#/components/responses/204NoContent'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '409':
          $ref: '#/components/responses/409Conflict'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
      security:
      - OAuth2:
        - asset_gw
        - asset_client_ow
        - asset_boss_ow
        - asset_client_lw
        - asset_boss_lw
  /v2/assets/{assetUid}/scope-rules:
    parameters:
    - $ref: '#/components/parameters/AssetUIDPath'
    get:
      x-excluded: true
      operationId: getScopeRules
      tags:
      - Hosts
      description: Gets a list of all scope rules for a host or web application asset.
      parameters:
      - $ref: '#/components/parameters/PerPageQuery'
      - $ref: '#/components/parameters/PageQuery'
      - in: query
        name: sort
        schema:
          type: string
          enum:
          - rule
          - appliesTo
          - createdAt
          - updatedAt
        description: Optional property to sort results by.
        required: false
      - $ref: '#/components/parameters/SortDirQuery'
      responses:
        '200':
          $ref: '#/components/responses/PaginatedArrayOfScopeRules'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '409':
          $ref: '#/components/responses/409Conflict'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
      security:
      - OAuth2:
        - asset_gr
        - asset_or
        - asset_srt_lr
    post:
      x-excluded: true
      operationId: postScopeRule
      tags:
      - Hosts
      description: Adds a scope rule to a web application or host asset. Returns a 409 status code if the asset is not one of these expected types.
      requestBody:
        description: Host or web application scope rule to create.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScopeRule'
      responses:
        '201':
          $ref: '#/components/responses/SingleScopeRuleResponse'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '409':
          $ref: '#/components/responses/409Conflict'
        '422':
          $ref: '#/components/responses/422EntityNotProcessable'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
      security:
      - OAuth2:
        - asset_gw
        - asset_client_ow
        - asset_boss_ow
        - asset_client_lw
        - asset_boss_lw
  /v2/scope-rules/{scopeRuleUid}:
    parameters:
    - $ref: '#/components/parameters/ScopeRuleUIDPath'
    get:
      x-excluded: true
      operationId: getScopeRule
      tags:
      - Hosts
      description: Retrieve a scope rule.
      responses:
        '200':
          $ref: '#/components/responses/SingleScopeRuleResponse'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
      security:
      - OAuth2:
        - asset_gr
        - asset_or
        - asset_lr
    patch:
      x-excluded: true
      operationId: patchScopeRule
      tags:
      - Hosts
      description: Patch properties of a scope rule for a host asset with CIDRs or web application asset. Will return a 409 status code if the type is not one of these expected types.
      requestBody:
        description: Scope rule to patch.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScopeRuleUpdate'
      responses:
        '200':
          $ref: '#/components/responses/SingleScopeRuleResponse'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '409':
          $ref: '#/components/responses/409Conflict'
        '422':
          $ref: '#/components/responses/422EntityNotProcessable'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
      security:
      - OAuth2:
        - asset_gw
        - asset_client_ow
        - asset_boss_ow
        - asset_client_lw
        - asset_boss_lw
    delete:
      x-excluded: true
      operationId: deleteScopeRule
      tags:
      - Hosts
      description: Delete a scope rule from a host or web application asset. Will return a 409 status code if the type is not one of these expected types.
      responses:
        '204':
          $ref: '#/components/responses/204NoContent'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
      security:
      - OAuth2:
        - asset_gw
        - asset_client_ow
        - asset_boss_ow
        - asset_client_lw
        - asset_boss_lw
  /v2/asset-stats:
    get:
      operationId: getAssetStats
      tags:
      - Hosts
      description: 'Returns active assets under test (in scope for a listing) and total active assets for the supplied organization and listings.

        '
      x-mint:
        metadata:
          title: Get Asset Stats
      parameters:
      - $ref: '#/components/parameters/SingleOrganizationUIDQuery'
      - $ref: '#/components/parameters/ListingUIDQuery'
      responses:
        '200':
          $ref: '#/components/responses/SingleAssetStat'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
      security:
      - OAuth2:
        - asset_gr
        - asset_or
        - asset_lr
  /v2/organizations/{organizationUid}/discovered-assets:
    get:
      operationId: getDiscoveredAssetSummaries
      tags:
      - Hosts
      description: 'Retrieve the list summarized properties for discovered assets belonging to  an organization, considering filtering and pagination query parameters.

        Additional query parameters generally restrict the resulting set of assets according to AND semantics.

        '
      x-mint:
        metadata:
          title: Get Discovered Assets
      parameters:
      - $ref: '#/components/parameters/OrganizationUIDPath'
      - $ref: '#/components/parameters/ListingUIDQuery'
      - $ref: '#/components/parameters/AssetTypeQuery'
      - $ref: '#/components/parameters/HostTypeQuery'
      - in: query
        name: seedUid[]
        schema:
          $ref: '#/components/schemas/SeedUID'
        required: false
        description: Restrict the returned asset summaries to only those discovered from provided seed identifier.
      - in: query
        name: search
        schema:
          type: string
        required: false
        description: 'Optional query parameter for a search string that will be used to match within the label or location properties of assets. If this query parameter is provided, any location query parameter will be ignored.

          '
      - $ref: '#/components/parameters/PerPageQuery'
      - $ref: '#/components/parameters/PageQuery'
      - in: query
        name: sort
        schema:
          type: string
          enum:
          - location
          - label
          - createdAt
          - updatedAt
          - lastReachableAt
        description: Optional property to sort results by.
        required: false
      - $ref: '#/components/parameters/SortDirQuery'
      responses:
        '200':
          $ref: '#/components/responses/PaginatedDiscoveredAssetsResponse'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
      security:
      - OAuth2:
        - asset_gr
        - asset_or
        - asset_lr
        - asset_srt_lr
        - asset_scan_gr
  /v2/bulk/assets/criticality:update:
    post:
      operationId: bulkUpdateAssetCriticality
      tags:
      - Hosts
      description: 'Bulk update the criticality of multiple assets.

        '
      x-mint:
        metadata:
          title: Bulk Update Asset Criticality
      requestBody:
        description: The Organization UID, Asset UIDs to be updated, and the criticality value to be set on the assets.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetBulkCriticalityUpdate'
      responses:
        '200':
          $ref: '#/components/responses/AssetBulkCriticalityUpdateResponse'
        '202':
          $ref: '#/components/responses/202StatusAccepted'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '409':
          $ref: '#/components/responses/409Conflict'
        '413':
          $ref: '#/components/responses/413RequestEntityTooLarge'
        '422':
          $ref: '#/components/responses/422EntityNotProcessable'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
      security:
      - OAuth2:
        - asset_gw
        - asset_client_ow
        - asset_boss_ow
        - asset_client_lw
        - asset_boss_lw
components:
  responses:
    SingleOrMultiAssetResponse:
      description: A single asset or an array of assets.
      headers:
        ETag:
          $ref: '#/components/headers/ETag'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SingleOrMultiAsset'
    PaginatedArrayOfAssets:
      description: Paginated assets.
      headers:
        Pagination-Limit:
          $ref: '#/components/headers/PaginationLimit'
        Pagination-Current-Page:
          $ref: '#/components/headers/PaginationCurrentPage'
        Pagination-Total-Pages:
          $ref: '#/components/headers/PaginationTotalPages'
        Pagination-Total-Count:
          $ref: '#/components/headers/PaginationTotalCount'
        Link:
          $ref: '#/components/headers/Link'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ArrayOfAssets'
    503ServiceUnavailable:
      description: Service Unavailable.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
    413RequestEntityTooLarge:
      description: Returned generally when the size of the request body is too large to process, or specifically when the request contains too many items, typically in a bulk API operation.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
    412PreconditionFailed:
      description: Precondition Failed.
    SingleScopeRuleResponse:
      description: The current state of a scope rule.
      headers:
        ETag:
          $ref: '#/components/headers/ETag'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ScopeRule'
    PaginatedArrayOfScopeRules:
      description: Paginated scope rules of a host with CIDRs or web application asset.
      headers:
        Pagination-Limit:
          $ref: '#/components/headers/PaginationLimit'
        Pagination-Current-Page:
          $ref: '#/components/headers/PaginationCurrentPage'
        Pagination-Total-Pages:
          $ref: '#/components/headers/PaginationTotalPages'
        Pagination-Total-Count:
          $ref: '#/components/headers/PaginationTotalCount'
        Link:
          $ref: '#/components/headers/Link'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ArrayOfScopeRules'
    422EntityNotProcessable:
      description: Entity Not Processable
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
    401Unauthorized:
      description: Unauthorized.
    202StatusAccepted:
      description: Request accepted and being processed.
    AssetBulkCriticalityUpdateResponse:
      description: Count of assets updated.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CriticalityUpdateCount'
    403Forbidden:
      description: Forbidden
    PaginatedDiscoveredAssetsResponse:
      description: Paginated discovered asset summaries.
      headers:
        Pagination-Limit:
          $ref: '#/components/headers/PaginationLimit'
        Pagination-Current-Page:
          $ref: '#/components/headers/PaginationCurrentPage'
        Pagination-Total-Pages:
          $ref: '#/components/headers/PaginationTotalPages'
        Pagination-Total-Count:
          $ref: '#/components/headers/PaginationTotalCount'
        Link:
          $ref: '#/components/headers/Link'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DiscoveredAssetsPage'
    400BadRequest:
      description: Bad Request
    SingleAssetResponse:
      description: The current state of the requested asset.
      headers:
        ETag:
          $ref: '#/components/headers/ETag'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SingleAsset'
    AssetBulkLifecycleStateUpdateResponse:
      description: Count of lifecycle states updated.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/LifecycleUpdateCount'
    WHOISResponse:
      description: The whois data of the requested asset.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WHOISResponse'
    409Conflict:
      description: Conflict.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
    SinglePort:
      description: The current state of a host port.
      headers:
        ETag:
          $ref: '#/components/headers/ETag'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Port'
    404NotFound:
      description: Not found.
    500InternalServerError:
      description: Internal Server Error.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
    204NoContent:
      description: No content.
    SingleAssetStat:
      description: Response containing a single asset stat.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AssetStat'
  parameters:
    OrganizationUIDQuery:
      name: organizationUid[]
      in: query
      explode: true
      schema:
        type: array
        items:
          $ref: '#/components/schemas/OrganizationUID'
      required: false
      description: Unique identifier for an organization. If not supplied the request will apply to all organizations the user is authorized to access.
    IfMatch:
      name: If-Match
      in: header
      required: true
      description: 'Used to prevent the lost-update problem. The operation will only

        continue if the ETag of the resource matches the supplied value;

        other was a 412 status will be returned. Provide a returned

        ETag value or * to force the operation.

        '
      schema:
        type: string
        pattern: ^(?:\".*\"|\*)$
    IpRanges:
      name: ipRanges[]
      in: query
      schema:
        $ref: '#/components/schemas/ArrayOfIpRanges'
      required: false
      explode: true
      description: Restrict the returned asset summaries to only assets of the specified ip ranges.
    ScopeRuleUIDPath:
      name: scopeRuleUid
      in: path
      schema:
        $ref: '#/components/schemas/UID'
      required: true
      description: Unique identifier for a scope rule.
    PortNumberPath:
      name: portNumber
      in: path
      schema:
        $ref: '#/components/schemas/PortNumber'
      required: true
      description: Port number.
    ListingUIDQuery:
      name: listingUid[]
      in: query
      explode: true
      schema:
        type: array
        items:
          $ref: '#/components/schemas/ListingUID'
      required: false
      description: Unique identifier for an listing. If not supplied the request will apply to all listings the user is authorized to access.
    OrganizationUIDPath:
      name: organizationUid
      in: path
      schema:
        $ref: '#/components/schemas/OrganizationUID'
      required: true
      description: Unique identifier for an organization.
    AssetTypeQuery:
      name: assetType[]
      in: query
      schema:
        type: array
        items:
          $ref: '#/components/schemas/AssetType'
      required: false
      explode: true
      description: Restrict the returned asset summaries to only assets of the specified type.
    PageQuery:
      name: page
      in: query
      schema:
        type: integer
        format: int32
        minimum: 1
      required: false
      description: 'Page to retrieve in paginated response. A server-selected default of 1 will be used when no page is requested via query parameter.

        '
    SortDirQuery:
      name: sortDir
      in: query
      schema:
        type: string
        enum:
        - asc
        - desc
        default: asc
      required: false
      description: Direction of sort-order for items in the response.
    PortProtocolPath:
      name: portProtocol
      in: path
      schema:
        $ref: '#/components/schemas/PortProtocol'
      required: true
      description: Port protocol.
    HostTypeQuery:
      name: hostType[]
      in: query
      schema:
        type: array
        items:
          $ref: '#/components/schemas/HostType'
      required: false
      explode: true
      description: 'Restrict the returned asset summaries to only the types of host assets requested when assetType also includes host.

        '
    SingleOrganizationUIDQuery:
      name: organizationUid
      in: query
      explode: true
      schema:
        $ref: '#/components/schemas/OrganizationUID'
      required: true
      description: Unique identifier for an organization. If not supplied the request will apply to all organizations the user is authorized to access.
    PerPageQuery:
      name: perPage
      in: query
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 5000
      required: false
      description: 'Requested page size for pagination. A server-selected default of 100 will be used when no perPage is requested via query parameter.

        '
    AssetUIDPath:
      name: assetUid
      in: path
      schema:
        $ref: '#/components/schemas/AssetUID'
      required: true
      description: Unique identifier for an asset.
  schemas:
    OperationUserUID:
      type: string
      pattern: ^[0-9a-f]{12}
      readOnly: true
      description: Automatically set by the server to the requesting user whenever the resource is updated. May be a user account or a service account if the action is performed by an automated.
    DiscoveredAssetsPage:
      type: object
      properties:
        totalByStatus:
          $ref: '#/components/schemas/DiscoveredAssetsTotals'
        discoveredAssets:
          $ref: '#/components/schemas/ArrayOfAssetSummaries'
    GatewayID:
      type: string
      pattern: ^[0-9a-f]{16}
      description: Identifier for Launchpoint-managed VPN gateway.
    AssetRelationshipType:
      type: string
      description: Type or relationship between assets.
      enum:
      - discoveredBy
    AssetCriticality:
      type: string
      description: Indicates importance of the asset to the customer.
      default: undefined
      enum:
      - high
      - medium
      - low
      - undefined
    AssetBulkLifecycleStateUpdate:
      type: object
      required:
      - organizationUid
      - uid
      - lifecycleState
      properties:
        organizationUid:
          $ref: '#/components/schemas/OrganizationUID'
        assetUids:
          type: array
          items:
            $ref: '#/components/schemas/AssetUID'
        lifecycleState:
          $ref: '#/components/schemas/AssetLifecycleState'
    ArrayOfRelatedAssets:
      type: array
      items:
        $ref: '#/components/schemas/RelatedAsset'
    IpRange:
      type: string
      description: IP Range could be a CIDR or an IP Range
    ProblemDetails:
      type: object
      description: 'See [RFC 7807: Problem Details for HTTP APIs](https://tools.ietf.org/html/rfc7807)'
      properties:
        type:
          type: string
          readOnly: true
        title:
          type: string
          readOnly: true
        status:
          type: integer
          format: int32
          minimum: 100
          maximum: 511
          description: HTTP Status code.
          readOnly: true
        detail:
          type: string
          description: Message detailing the problem.
          readOnly: true
        instance:
          type: string
          description: generated problem instance number to correlate with logs
          readOnly: true
        failedValidation:
          type: array
          description: Array of failed validation rules.
          readOnly: true
          items:
            $ref: '#/components/schemas/FailedValidation'
        failedValidations:
          type: array
          description: Array of indexed failed validation rules.
          readOnly: true
          items:
            $ref: '#/components/schemas/IndexedFailedValidations'
        maxBatchSize:
          type: integer
          description: Maximum processable batch size.
          readOnly: true
        batchSize:
          type: integer
          description: Batch size sent when batch is too large.
          readOnly: true
    CloudPlatform:
      description: Identifies cloud platform
      type: string
      enum:
      - aws
      - azure
      - gcp
    AssetOrigin:
      type: string
      description: Indicates the origin for the asset, i.e. whether the asset was provided manually or it was discovered by some sort of automation.
      default: provided
      enum:
      - provided
      - discovered
    AssetRelationshipUID:
      type: string
      pattern: ^[0-9a-f]{12}
      description: Unique identifier for a scan.
    ScopeRule:
      allOf:
      - $ref: '#/components/schemas/ScopeRuleSummary'
      - $ref: '#/components/schemas/Updatable'
    MobileOperatingSystem:
      type: string
      enum:
      - ios
      - android
      description: The operating system for the asset.
    AssetLifecycleState:
      type: string
      description: Indicates the asset position in asset lifecycle FSM.
      default: confirmed
      enum:
      - confirmed
      - unconfirmed
      - ignored
      - archived
    AssetChangeStatus:
      type: string
      description: Indicates whether the asset is newly discovered, has changed since last evaluated, or is unchanged.
      default: unchanged
      enum:
      - new
      - changed
      - unchanged
    PortNumber:
      type: integer
      format: int32
      minimum: 0
      maximum: 65535
    MobileApplicationProperties:
      allOf:
      - $ref: '#/components/schemas/ApplicationAsset'
      - type: object
        required:
        - applicationName
        properties:
          applicationName:
            type: string
            description: Name of the application.
          operatingSystem:
            $ref: '#/components/schemas/MobileOperatingSystem'
          binaries:
            type: array
            items:
              $ref: '#/components/schemas/ApplicationBinary'
            readOnly: true
          mfa:
            type: boolean
            description: Optional MFA/OTP/CAPTCHA
          selfRegistration:
            type: boolean
            description: Optional self registration
          ntlm:
            type: boolean
            description: Optional new technology lan manager.
          sslCertificatePinning:
            type: boolean
            description: Optional SSL certifications pinning or root detection
    NetworkRef:
      type: object
      description: 'Reference to the network that an asset can be found on.

        The asset in question and the network must belong to the same organization.

        Deprecating.

        '
      properties:
        networkUid:
          $ref: '#/components/schemas/UID'
    AuthenticationStrategies:
      type: object
      description: Map of authentication strategies for various scanners, keyed by asset scanner name.
      properties:
        tarantulaBurpV2:
          $ref: '#/components/schemas/AuthenticationStrategy'
        burp:
          $ref: '#/components/schemas/AuthenticationStrategy'
    WebRULE:
      type: string
      pattern: ^(/([a-zA-Z0-9_-~!$&'()+,;=:@.]|%[0-9a-fA-F]{2})+/)*(/?((([A-z]|[0-9]|[-_~])|%[0-9a-fA-F]{2}|[!$&'()*+,;=]|[:@])|[/?])*){0,1}//(#((([A-z]|[0-9]|[-_~.])|%[0-9a-fA-F]{2}|[!$&'()*+,;=]|[:@])|[/?])*){0,1}/?$
      description: Rule for web asset validation
    SeedUID:
      type: string
      pattern: ^[-_0-9a-z]{1,50}
      description: Unique identifier for an E-ASM seed.
      readOnly: true
    IndexedFailedValidations:
      type: object
      properties:
        index:
          type: integer
          description: Zero-based index indicating the which item in request containing an array of items has failed validation.
          readOnly: true
        failedValidation:
          type: array
          description: Array of failed validation rules.
          readOnly: true
          items:
            $ref: '#/components/schemas/FailedValidation'
    RelatedAsset:
      type: object
      properties:
        assetUid:
          $ref: '#/components/schemas/UID'
        assetType:
          $ref: '#/components/schemas/AssetType'
        location:
          type: string
          description: 'Derived human-readable text representation of the asset, based on assetType and other properties.

            '
          readOnly: true
        label:
          type: string
          description: 'Optional label for the asset. If present, label is part of the derived property of asset location, which enables creation of multiple assets with different labels under a single organization.

            '
          readOnly: true
    UserRoleCredentialSummary:
      description: Credential used by an application in context of a user role.
      type: object
      properties:
        uid:
          $ref: '#/components/schemas/UID'
        status:
          $ref: '#/components/schemas/CheckerStatus'
        lastCheckedAt:
          type: string
          format: date-time
          description: The last date time the credential was checked.
        sharing:
          $ref: '#/components/schemas/CredentialSharing'
    PortUpdate:
      type: object
      properties:
        scope:
          $ref: '#/components/schemas/Scope'
        service:
          type: string
          description: 'Name of service running on port. Will use the [Service Name and Transport Protocol Port Number Registry](https://www.iana.org/assignments/service-names-port-numbers/service-names-port-numbers.xhtml) for well-known ports.

            '
        observedState:
          $ref: '#/components/schemas/PortObservedState'
    AssetUID:
      type: string
      pattern: ^[0-9a-f]{24}
      description: Unique identifier for an asset.
    CheckerStatus:
      type: string
      enum:
      - unchecked
      - invalid
      - valid
      description: Status reported by automated checkers.
    AssetTypeTotal:
      type: object
      required:
      - assetType
      - underTest
      - underManagement
      properties:
        assetType:
          $ref: '#/components/schemas/AssetType'
        underTest:
          type: integer
          description: Total of assets that are assigned to a listing with a scope of 'in'.
        underManagement:
          type: integer
          description: Total of assets owned by the organization.
    Updatable:
      allOf:
      - $ref: '#/components/schemas/Creatable'
      - type: object
        properties:
          updatedAt:
            type: string
            format: date-time
            readOnly: true
            description: Automatically set by the server to the time the request was processed whenever the resource is updated.
          updatedBy:
            $ref: '#/components/schemas/OperationUserUID'
    HTTPingSettings:
      description: HTTPingSettings represents custom settings for webapp reachability checks. All fields are optional.
      type: object
      properties:
        url:
          type: string
          description: URL to perform the check. If not defined, webapp main URL will be used.
        insecure:
          type: boolean
          description: When set to `true`, bypasses SSL/TLS checks.
        responseHeaderTimeout:
          type: integer
          minimum: 0
          description: Max time waiting for the HTTP response header, in seconds.
        timeout:
          type: integer
          minimum: 0
          description: Max time waiting for the whole HTTP response, in seconds.
        followRedirects:
          type: boolean
          description: When set to `false`, redirects are not followed and the last server response returned.
        method:
          type: string
          description: HTTP method to use.
        headers:
          $ref: '#/components/schemas/HTTPingSettings_Headers'
          description: Custom HTTP headers to send. It must be a string-to-string map.
          example:
            X-Custom-Header1: value1
            X-Custom-Header2: value2
        body:
          type: string
          description: HTTP request entity to send.
        validCodes:
          type: array
          items:
            type: integer
            minimum: 0
            description: HTTP response code
          description: List of response status codes considered as valid. When defined, ping will be considered succeeded only when response status code exists in this list. Mutually exclusive with InvalidCodes.
          example:
          - 200
          - 201
          - 204
        invalidCodes:
          type: array
          items:
            type: integer
            minimum: 0
            description: HTTP response code
          description: List of response status codes considered as invalid When defined, ping will be considered succeeded only when response status code does not exist in this list. Mutually exclusive with ValidCodes.
          example:
          - 400
          - 401
          - 403
          - 500
    CloudAccountAsset:
      allOf:
      - $ref: '#/components/schemas/Asset'
      - type: object
        properties:
          cloudAccount:
            $ref: '#/components/schemas/CloudAccountProperties'
    SingleOrMultiAsset:
      oneOf:
      - $ref: '#/components/schemas/SingleAsset'
      - type: array
        items:
          $ref: '#/components/schemas/SingleAsset'
    UserUID:
      type: string
      pattern: ^[-_0-9a-z]{1,100}
      description: Unique identifier for a user.
    DiscoveredByRelationship:
      description: Relationship indicating the source asset was discovered by scanning the target asset. Discovered-by relationships extend the uniqueness constraint to allow multiple pairs of this relationship-type between a pair of assets however each such relationship must have a unique asset-scanner property.
      allOf:
      - $ref: '#/components/schemas/AssetRelationship'
      - type: object
        required:
        - assetScanner
        properties:
          assetScanner:
            description: The asset-scanner that discovered the relationship.
            type: string
            enum:
            - burp
            - cloudEnumeration
            - masscan
            - nessus
            - openVAS
            - tarantulaBurpV2
            - cidrExpansion
            - amass
            - fingerprinter
            - easm
    WebApplicationProperties:
      allOf:
      - $ref: '#/components/schemas/ApplicationAsset'
      - $ref: '#/components/schemas/NetworkRef'
      - type: object
        required:
        - url
        properties:
          url:
            type: string
          reachabilityImageCaptureUrl:
            type: string
            format: uri
            description: Optional URL to image capture of failed reachability check.
          mfa:
            type: boolean
            description: Optional MFA/OTP/CAPTCHA
          selfRegistration:
            type: boolean
            description: Optional self registration
          ntlm:
            type: boolean
            description: Optional new technology lan manager.
          httpingSettings:
            $ref: '#/components/schemas/HTTPingSettings'
          timesFinished:
            type: integer
            format: int32
            minimum: 0
            description: Number of times web application scan finished.
          timesFailed:
            type: integer
            format: int32
            minimum: 0
            description: Number of times web application scan failed.
          timesLastFailed:
            type: integer
            format: int32
            minimum: 0
            description: Number of times web application scan failed since the last finished scan.
          scanState:
            $ref: '#/components/schemas/ScanState'
          scanStateUpdatedAt:
            type: string
            format: date-time
            description: The date time the scan state was updated.
          scanLastAcceptedAt:
            type: string
            format: date-time
            description: The last date time the web application was accepted to scan.
          lastSuccessfulScan:
            type: string
            format: date-time
            description: The last date time the asset scan was successful.
          lastFingerprint:
            description: Last time a fingerprinting scan checked the asset.
            type: string
            format: date-time
    AuthenticationStrategy:
      allOf:
      - type: object
        properties:
          scripts:
            $ref: '#/components/schemas/Scripts'
    OperatingSystem:
      type: object
      properties:
        name:
          description: Name of operating system according to fingerprinting.
          type: string
        cpe:
          type: string
          description: CPE of operating system according to fingerprinting.
    ExternalUID:
      type: string
      pattern: ^[0-9a-zA-Z-_]{1,}$
      description: Unique identifier for an external entity. It has much more loose requirements than AssetUID since in general we don't control these external services.
    ArrayOfIpRanges:
      type: array
      items:
        $ref: '#/components/schemas/IpRange'
    WHOIS:
      type: string
      description: Whois results.
    FailedValidation:
      type: object
      required:
      - message
      properties:
        property:
          type: string
          readOnly: true
        value:
          type: string
          readOnly: true
        message:
          type: string
          readOnly: true
    ErrorCode:
      type: integer
      format: int32
      description: Optional numeric error code set by an automated process such as scanning or checking.
    AssetStat:
      type: object
      description: Stats for assets within a single organization.
      properties:
        activeAssets:
          type: array
          description: Totals for active assets.
          items:
            $ref: '#/components/schemas/AssetTypeTotal'
    HostAsset:
      allOf:
      - $ref: '#/components/schemas/Asset'
      - type: object
        properties:
          host:
            $ref: '#/components/schemas/HostProperties'
    ScanState:
      type: string
      enum:
      - new
      - accepted
      - queued
      - dispatched
      - failed
      - finished
      - in-progress
      description: Scan state of asset.
    WebApplicationAsset:
      allOf:
      - $ref: '#/components/schemas/Asset'
      - type: object
        properties:
          webApplication:
            $ref: '#/components/schemas/WebApplicationProperties'
    AssetRelationship:
      description: A relationship between two assets. Generally the relationship may be read as _source_-asset _relationship_-type _target_-asset. There cannot be multiple relationships between a pair of assets with the same relationship-type. Relationships have a starts-at date-time and an optional ends-at date-time; a relationship is considered _active_ at a point-in-time if the starts-at date is prior-to/equal-to the time-point, and the ends-at date-time is unset or is after/equal-to the time-point. Furthermore, for any given relationship-type linking a pair of assets, there can only be one active relationship at any give time point. A new relationship cannot be created with a start-at date-time after an existing relationship's starts-at when that relationship has an unset ends-at date-time, or the relationship has an ends-at after/equal-to the starts-at of the new relationship (such that these relationships active ranges would overlap).
      allOf:
      - type: object
        required:
        - sourceAssetUid
        - targetAssetUid
        - startsAt
        - relationshipType
        properties:
          uid:
            $ref: '#/components/schemas/AssetRelationshipUID'
          sourceAssetUid:
            $ref: '#/components/schemas/AssetUID'
          targetAssetUid:
            $ref: '#/components/schemas/AssetUID'
          startsAt:
            type: string
            format: date-time
            description: The date-time at which the relationship between the source and target asset is observed to first begin.
          endsAt:
            type: string
            format: date-time
            description: The date-time at which the relationship between the source and target asset was observed to end.
          relationshipType:
            description: Type or relationship between assets.
            type: string
            enum:
            - discoveredBy
      - $ref: '#/components/schemas/Updatable'
    LifecycleUpdateCount:
      type: object
      properties:
        updatedCount:
          type: integer
          description: Number of assets updated.
          default: 0
    AssetGateway:
      type: object
      description: Gateways and listings the asset is assigned to.
      properties:
        gatewayId:
          $ref: '#/components/schemas/GatewayID'
        listingUid:
          $ref: '#/components/schemas/ListingUID'
    CloudAccountProperties:
      description: Keeps credentials for accessing the cloud provider. Mandatory for assets of 'cloudaccount' type.
      type: object
      properties:
        credentialData:
          $ref: '#/components/schemas/Base64Data'
        cloudPlatform:
          $ref: '#/components/schemas/CloudPlatform'
        cloudCredentialFormat:
          $ref: '#/components/schemas/CloudCredentialFormat'
      required:
      - credentialData
      - cloudPlatform
      - cloudCredentialFormat
    PortObservedState:
      type: string
      enum:
      - open
      - closed
      - filtered
      description: Observed state reported by automated scanning.
    Base64Data:
      type: string
      description: Base64 encoding of data.
      example: TXkgdm9pY2UgaXMgbXkgcGFzc3dvcmQu
    ArrayOfScopeRules:
      type: array
      items:
        $ref: '#/components/schemas/ScopeRule'
    OrganizationUID:
      type: string
      pattern: ^[-_0-9a-z]{1,50}
      description: Unique identifier for an organization.
    WHOISRequest:
      type: object
      description: Whois request data.
      properties:
        whois:
          $ref: '#/components/schemas/WHOIS'
    PortProtocol:
      type: string
      enum:
      - tcp
      - udp
    ScopeRuleApplicability:
      type: string
      enum:
      - scanners
      - srt
      - both
    ScopeRuleSummary:
      type: object
      description: Part of the scope of an asset that is included/excluded from a specific activity.
      required:
      - uid
      - rule
      - scope
      - appliesTo
      properties:
        uid:
          $ref: '#/components/schemas/UID'
        rule:
          $ref: '#/components/schemas/WebRULE'
          description: A textual definition of the scope rule. Format will vary by assetType.
        scope:
          $ref: '#/components/schemas/ScopeRuleInclusion'
        appliesTo:
          $ref: '#/components/schemas/ScopeRuleApplicability'
    CredentialCounts:
      description: Credential counts by credential status in context of a user role.
      type: object
      readOnly: true
      properties:
        unchecked:
          type: integer
          description: Total of credentials in context of a user role with unchecked status.
        invalid:
          type: integer
          description: Total of credentials in context of a user role with invalid status.
        valid:
          type: integer
          description: Total of credentials in context of a user role with valid status.
    AssetSummary:
      allOf:
      - type: object
        properties:
          uid:
            $ref: '#/components/schemas/UID'
          organizationUid:
            $ref: '#/components/schemas/OrganizationUID'
          location:
            type: string
            readOnly: true
            description: Derived human-readable text representation of the asset, based on assetType and other properties.
          assetType:
            $ref: '#/components/schemas/AssetType'
            description: Derived from the properties associated with the asset.
            readOnly: true
          label:
            type: string
            description: Optional label for the asset. If present, label is part of the derived property of asset location, which enables creation of multiple assets with different labels under a single organization.
          origin:
            $ref: '#/components/schemas/AssetOrigin'
          changeStatus:
            $ref: '#/components/schemas/AssetChangeStatus'
          providerName:
            description: Name of the cloud or hosting provider according to fingerprinting.
            type: string
            readOnly: true
          lastCheckedAt:
            type: string
            format: date-time
            description: The last date time the credential was checked.
          lastReachableAt:
            type: string
            format: date-time
            description: The last date time the asset was successfully checked for reachability.
          lastSuccessfulScan:
            type: string
            format: date-time
            description: The last date time the asset scan was successful.
          lastFailedScan:
            type: string
            format: date-time
            description: The last date time the asset scan was failed.
          firstSeen:
            type: string
            format: date-time
            description: 'For assets with an origin of discovered. The date time when the asset was first discovered.

              '
          lastSeen:
            type: string
            format: date-time
            description: 'For assets with an origin of discovered. The date time when the asset was last discovered or fingerprinted.

              '
          status:
            $ref: '#/components/schemas/CheckerStatus'
          errorCode:
            $ref: '#/components/schemas/ErrorCode'
          listings:
            description: Array of listings the asset belongs to.
            readOnly: true
            type: array
            items:
              $ref: '#/components/schemas/AssetListing'
          relatedAssets:
            description: Relationships which this asset participates in, either as a source or as a target.
            readOnly: true
            type: array
            items:
              $ref: '#/components/schemas/ArrayOfRelatedAssets'
      - $ref: '#/components/schemas/Updatable'
    CredentialSharing:
      type: string
      description: Determines the limits on users that may be assigned; "one" permits only one user to be assigned, "many" places no limit, and "all" prevents any users to explicitly assigned as all users are implicitly allowed to use the credential.
      enum:
      - one
      - many
      - all
    AssetType:
      type: string
      enum:
      - cloudaccount
      - host
      - network
      - mobileapp
      - webapp
    AssetBulkCriticalityUpdate:
      type: object
      required:
      - organizationUid
      - uid
      - criticality
      properties:
        organizationUid:
          $ref: '#/components/schemas/OrganizationUID'
        assetUids:
          type: array
          items:
            $ref: '#/components/schemas/AssetUID'
        criticality:
          $ref: '#/components/schemas/AssetCriticality'
    UserRoleScript:
      allOf:
      - type: object
        description: Script used to test a mobile or web applications.
        properties:
          uid:
            $ref: '#/components/schemas/UID'
          status:
            $ref: '#/components/schemas/CheckerStatus'
          filename:
            type: string
            description: Generated script name.
            readOnly: true
          error:
            type: string
            description: Optional text of error message. Server will unset this property when status is set to any value other than invalid.
          imageCaptureUrl:
            type: string
            format: uri
            description: Optional Url to image capture of the script execution.
          lastCheckedAt:
            type: string
            format: date-time
            description: The most reecent date time the script was run.
          lastSuccessfulAt:
            type: string
            format: date-time
            description: The most recent date time the script was successfully run.
    MobileApplicationAsset:
      allOf:
      - $ref: '#/components/schemas/Asset'
      - type: object
        properties:
          mobileApplication:
            $ref: '#/components/schemas/MobileApplicationProperties'
    DiscoveredAssetsTotals:
      type: object
      properties:
        all:
          type: number
          readOnly: true
        unconfirmed:
          type: number
          readOnly: true
        inTriage:
          type: number
          readOnly: true
        triaged:
          type: number
          readOnly: true
        confirmed:
          type: number
          readOnly: true
        rejected:
          type: number
          readOnly: true
    SingleAssetRelationship:
      oneOf:
      - $ref: '#/components/schemas/DiscoveredByRelationship'
      discriminator:
        propertyName: relationshipType
        mapping:
          discoveredBy: '#/components/schemas/DiscoveredByRelationship'
    ArrayOfAssets:
      type: array
      items:
        $ref: '#/components/schemas/SingleAsset'
    HostType:
      type: string
      enum:
      - ip
      - cidr
      - fqdn
      - as
    ArrayOfAssetSummaries:
      type: array
      items:
        $ref: '#/components/schemas/AssetSummary'
    Creatable:
      type: object
      required:
      - createdAt
      - createdBy
      properties:
        createdAt:
          type: string
          format: date-time
          readOnly: true
          description: Automatically set by the server to the time the request was processed whenever the resource was created.
        createdBy:
          $ref: '#/components/schemas/OperationUserUID'
    CloudCredentialFormat:
      description: Describes format of the cloud credential
      type: string
      enum:
      - aws_assume_role
      - aws_secret_access
      - azure_certificate
      - azure_password
      - gcp_cloud_asset
      - gcp_compute_engine
    UserRole:
      allOf:
      - type: object
        properties:
          uid:
            $ref: '#/components/schemas/UID'
          name:
            type: string
            description: Unique name for the role with the mobile or web application.
          scannable:
            type: boolean
            description: Only roles with this property set to true will be scanned by automated scanners.
            default: false
          authenticationStrategies:
            $ref: '#/components/schemas/AuthenticationStrategies'
          credentials:
            type: array
            description: Credentials owned by this role.
            readOnly: true
            items:
              $ref: '#/components/schemas/UserRoleCredentialSummary'
          credentialCounts:
            $ref: '#/components/schemas/CredentialCounts'
      - $ref: '#/components/schemas/Updatable'
    UID:
      type: string
      pattern: ^[0-9a-f]{12}
      readOnly: true
      description: Unique Identifier.
    Scope:
      description: 'Set to _in_-scope means automated and manual testing _should_ occur; _out_-of-scope means automated and manual testing _must not_ occur; _discovered_ means observed through automated discovery and may be automatically removed if not observed again during subseqent discovery activities.

        '
      type: string
      enum:
      - in
      - out
      - discovered
      - blocked
    CriticalityUpdateCount:
      type: object
      properties:
        updatedCount:
          type: integer
          description: Number of assets updated.
          default: 0
    ExternalRelationship:
      description: 'A relationship between two assets. Source asset points to an asset in AssetService `assets` table while Target asset points to some external asset stored outside of AssetService. The target is fully identified by two fields: `targetUid` and `targetService`. Generally the relationship may be read as `source`-asset `type` `target`-asset. There cannot be multiple relationships between a pair of assets with the same `type`. Relationships have a `startsAt` date-time and an optional `endsAt` time; a relationship is considered `active` at a point-in-time if the `startsAt` date is prior-to/equal-to the time point, and the `endsAt` time is unset or is after/equal-to the time point. Furthermore, for any given `type` linking a pair of assets, there can only be one active relationship at any given time point. A new relationship cannot be created with a `startsAt` time after an existing relationship''s `startsAt` when that relationship has an unset `endsAt` date-time, or the relationship has an `endsAt` after/equal-to the `startsAt` of the new relationship (such that these relationships active ranges would overlap).

        '
      allOf:
      - type: object
        required:
        - type
        - sourceAssetUid
        - targetUid
        - targetService
        - startsAt
        properties:
          uid:
            $ref: '#/components/schemas/AssetRelationshipUID'
          type:
            description: Type of relationship between assets. The direction of reading is `sourceAsset` -- `type` -- `targetAsset`.
            type: string
            enum:
            - discoveredBy
          sourceAssetUid:
            $ref: '#/components/schemas/AssetUID'
          targetUid:
            $ref: '#/components/schemas/ExternalUID'
          targetService:
            description: The type of the external service, holding the "target" entity.
            type: string
            enum:
            - assetDiscovery
            - fractalScan
            - xpanse
          startsAt:
            type: string
            format: date-time
            description: The date-time at which the relationship between the source and target assets was observed to begin.
          endsAt:
            type: string
            format: date-time
            description: The date-time at which the relationship between the source and target assets was observed to end.
      - $ref: '#/components/schemas/Updatable'
    WHOISResponse:
      type: object
      description: Whois data.
      properties:
        whois:
          $ref: '#/components/schemas/WHOIS'
        asset_uid:
          $ref: '#/components/schemas/AssetUID'
    ScopeRuleInclusion:
      type: string
      enum:
      - in
      - out
    AssetListing:
      type: object
      description: Listings the asset is assigned to.
      properties:
        listingUid:
          $ref: '#/components/schemas/ListingUID'
        scope:
          $ref: '#/components/schemas/Scope'
        scopeRules:
          description: Out of scope locations for this asset.
          type: array
          items:
            $ref: '#/components/schemas/ScopeRule'
        createdAt:
          type: string
          format: date-time
          readOnly: true
          description: Automatically set by the server to the time the listing asset association was created.
        updatedAt:
          type: string
          format: date-time
          readOnly: true
          description: Automatically set by the server to the time the listing asset association is updated.
    HostProperties:
      allOf:
      - $ref: '#/components/schemas/NetworkRef'
      - type: object
        properties:
          ipAddress:
            type: string
            description: IP v4 or v6 address.
          cidr:
            type: string
            description: IP v4 or v6 CIDR notation.
          ipRanges:
            $ref: '#/components/schemas/ArrayOfIpRanges'
            description: List of CIDRs and IP Ranges
          firstIPAddress:
            type: string
            description: The first IP address in the range (CIDRs only).
            readOnly: true
          lastIPAddress:
            type: string
            description: The last IP address in the range (CIDRs only).
            readOnly: true
          fqdn:
            type: string
            description: Fully-qualified domain name.
          hostname:
            type: string
            description: Host name.
          autonomousSystemNumber:
            type: string
            description: Autonomous System Number in asdot notation. See https://datatracker.ietf.org/doc/rfc5396/.
          autonomousSystemName:
            type: string
            description: Name of Autonomous System. See https://datatracker.ietf.org/doc/rfc5396/.
          cloudInstanceName:
            description: Name of instance when cloudPlatform is provided.
            type: string
          cloudPlatform:
            $ref: '#/components/schemas/CloudPlatform'
          operatingSystem:
            $ref: '#/components/schemas/OperatingSystem'
          providerName:
            description: Name of the cloud or hosting provider according to fingerprinting.
            type: string
          latitude:
            description: Latitude of geolocated asset according to fingerprinting.
            type: number
            format: double
          longitude:
            description: Longitude of geolocated asset according to fingerprinting.
            type: number
            format: double
          city:
            description: City of geolocated asset according to fingerprinting.
            type: string
          country:
            description: Country of geolocated asset according to fingerprinting.
            type: string
          state:
            description: State of geolocated asset according to fingerprinting.
            type: string
          ports:
            type: array
            items:
              $ref: '#/components/schemas/Port'
            description: Ports of a single host.
          portsOpenTotal:
            type: integer
            readOnly: true
            description: The number of open ports (TCP or UDP) for a single IP address host asset.
            minimum: 0
            maximum: 65535
          rdnsHostnames:
            description: Hostnames returned by reverse DNS part of fingerprinting.
            type: string
          lastFingerprint:
            description: Last time a fingerprinting scan checked the asset.
            type: string
            format: date-time
          lastSuccessfulScan:
            type: string
            format: date-time
            description: The last date time the asset scan was successful.
          lastFailedScan:
            type: string
            format: date-time
            description: The last date time the asset scan was failed.
          timesFinished:
            type: integer
            format: int32
            minimum: 0
            description: Number of times web application scan finished.
          timesFailed:
            type: integer
            format: int32
            minimum: 0
            description: Number of times web application scan failed.
          timesLastFailed:
            type: integer
            format: int32
            minimum: 0
            description: Number of times web application scan failed since the last finished scan.
          scanState:
            $ref: '#/components/schemas/ScanState'
          scanStateUpdatedAt:
            type: string
            format: date-time
            description: The date time the scan state was updated.
    NetworkProperties:
      type: object
      properties:
        gatewayId:
          type: string
          $ref: '#/components/schemas/GatewayID'
          description: Identifier for Launchpoint-managed VPN gateway.
    HTTPingSettings_Headers:
      type: object
      properties:
        additionalProperties:
          type: object
          additionalProperties:
            type: string
    ScopeRuleUpdate:
      type: object
      description: Updatable properties of a Scope Rule.
      properties:
        rule:
          type: string
          description: A textual definition of the scope rule. Format will vary by assetType.
        scope:
          $ref: '#/components/schemas/ScopeRuleInclusion'
        appliesTo:
          $ref: '#/components/schemas/ScopeRuleApplicability'
    Scripts:
      type: object
      description: Map of scripts used by this strategy, keyed by script role.
      properties:
        authentication:
          $ref: '#/components/schemas/UserRoleScript'
        sessionValidation:
          $ref: '#/components/schemas/UserRoleScript'
        recordedLogin:
          $ref: '#/components/schemas/UserRoleScript'
    NetworkAsset:
      allOf:
      - $ref: '#/components/schemas/Asset'
      - type: object
        properties:
          network:
            $ref: '#/components/schemas/NetworkProperties'
    Asset:
      allOf:
      - type: object
        required:
        - assetType
        - origin
        - organizationUid
        properties:
          uid:
            $ref: '#/components/schemas/UID'
          organizationUid:
            $ref: '#/components/schemas/OrganizationUID'
          location:
            type: string
            readOnly: true
            description: Derived human-readable text representation of the asset, based on assetType and other properties.
          assetType:
            $ref: '#/components/schemas/AssetType'
            description: Derived from the properties associated with the asset.
          inProduction:
            type: boolean
            description: Indicates whether the asset resides in a production environment.
            default: true
          active:
            description: Active assets may participate in listings. When inactive, the asset is essentially soft-deleted and may not be scanned or subject to new research by SRT.
            type: boolean
            default: true
          label:
            type: string
            description: Optional label for the asset. If present, label is part of the derived property of asset location, which enables creation of multiple assets with different labels under a single organization.
          description:
            type: string
            description: Optional description for the asset.
          origin:
            $ref: '#/components/schemas/AssetOrigin'
          lifecycleState:
            $ref: '#/components/schemas/AssetLifecycleState'
          criticality:
            $ref: '#/components/schemas/AssetCriticality'
          changeStatus:
            $ref: '#/components/schemas/AssetChangeStatus'
          anyListingActive:
            type: boolean
            description: This field is used for scheduling Fingerprinting scans. A calculated field based on if the asset has any listings in which it is active. This field is read only and relates only to assets created after Apr 1 2023.
            default: false
          anyListingActiveWithin2Years:
            type: boolean
            description: This field is used for scheduling Fingerprinting scans. A calculated field based on if the asset has any active listings or listings deactivated less than 2 years ago. This field is read only and relates only to assets created prior to Apr 1 2023.
            default: false
          hasCredentials:
            type: boolean
            readOnly: true
            description: Indicates whether any credentials are associated with this asset. Only webapp and mobileapp assets can have credentials; all other asset types will always be false.
            default: false
          scanStateUpdatedAt:
            type: string
            format: date-time
            description: The date time the scan state was updated.
          lastCheckedAt:
            type: string
            format: date-time
            description: The last date time the asset was checked.
          lastReachableAt:
            type: string
            format: date-time
            description: The last date time the asset was successfully checked for reachability.
          lastSuccessfulScan:
            type: string
            format: date-time
            description: The last date time the asset scan was successful.
          lastFailedScan:
            type: string
            format: date-time
            description: The last date time the asset scan was failed.
          firstSeen:
            type: string
            format: date-time
            description: 'For assets with an origin of discovered. The date time when the asset was first discovered.

              '
          lastSeen:
            type: string
            format: date-time
            description: 'For assets with an origin of discovered. The date time when the asset was last discovered or fingerprinted.

              '
          status:
            $ref: '#/components/schemas/CheckerStatus'
          errorCode:
            $ref: '#/components/schemas/ErrorCode'
          listings:
            description: Array of listings the asset belongs to.
            readOnly: true
            type: array
            items:
              $ref: '#/components/schemas/AssetListing'
          scopeRules:
            description: Rules that modify the scope of security research for this asset.
            readOnly: true
            type: array
            items:
              $ref: '#/components/schemas/ScopeRuleSummary'
          relationships:
            description: Relationships which this asset participates in, either as a source or as a target.
            readOnly: true
            type: array
            items:
              $ref: '#/components/schemas/SingleAssetRelationship'
          sourceRelationships:
            description: Relationships which have this asset as a source (SourceAssetID and SourceAssetUID will be set automatically). This property is only available in the postAssetBulk request body and is not returned as part of any responses.
            writeOnly: true
            type: array
            items:
              $ref: '#/components/schemas/SingleAssetRelationship'
          externalRelationships:
            description: External relationships which this asset participates in as a source. When used in postAssetBulk request, AssetID and AssetUID will be set automatically.
            type: array
            items:
              $ref: '#/components/schemas/ExternalRelationship'
          gateways:
            description: Array of Launchpoint-managed VPN gateways per listing.
            readOnly: true
            type: array
            items:
              $ref: '#/components/schemas/AssetGateway'
      - $ref: '#/components/schemas/Updatable'
    ApplicationBinary:
      type: object
      properties:
        version:
          type: string
          readOnly: true
        downloadUrl:
          type: string
          format: uri
    SingleAsset:
      oneOf:
      - $ref: '#/components/schemas/CloudAccountAsset'
      - $ref: '#/components/schemas/HostAsset'
      - $ref: '#/components/schemas/MobileApplicationAsset'
      - $ref: '#/components/schemas/NetworkAsset'
      - $ref: '#/components/schemas/WebApplicationAsset'
      discriminator:
        propertyName: assetType
        mapping:
          cloudaccount: '#/components/schemas/CloudAccountAsset'
          host: '#/components/schemas/HostAsset'
          mobileapp: '#/components/schemas/MobileApplicationAsset'
          network: '#/components/schemas/NetworkAsset'
          webapp: '#/components/schemas/WebApplicationAsset'
    Port:
      allOf:
      - type: object
        required:
        - scope
        - observedState
        properties:
          number:
            $ref: '#/components/schemas/PortNumber'
          protocol:
            $ref: '#/components/schemas/PortProtocol'
          scope:
            $ref: '#/components/schemas/Scope'
          service:
            type: string
            description: 'Name of (expected) service running on port. Will use the [Service Name and Transport Protocol Port Number Registry](https://www.iana.org/assignments/service-names-port-numbers/service-names-port-numbers.xhtml) for well-known ports.

              '
          observedState:
            $ref: '#/components/schemas/PortObservedState'
          detectedService:
            type: string
            description: 'Name of detected service running on port according to fingerprinting.

              '
            readOnly: true
          detectedProductName:
            type: string
            description: 'Name of software product running on port according to fingerprinting.

              '
            readOnly: true
          detectedProductVersion:
            type: string
            description: Version of software product running on port according to fingerprinting.
            readOnly: true
          detectedProductConfidenceLevel:
            type: integer
            format: int
            minimum: 1
            maximum: 10
            description: Confidence level of detected product on port according to fingerprinting.
            readOnly: true
          detectedProductCPE:
            type: string
            description: 'CPE for detected product according to fingerprinting.

              '
            readOnly: true
          serviceBanner:
            type: string
            description: Port banner according to fingerprinting.
            readOnly: true
      - $ref: '#/components/schemas/Updatable'
    ListingUID:
      type: string
      pattern: ^[-_0-9a-z]{1,50}
      description: Unique identifier for an listing.
      readOnly: true
    ApplicationAsset:
      type: object
      properties:
        userRoles:
          description: User roles available for the application.
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/UserRole'
  headers:
    ETag:
      description: An identifier for a specific version of a resource
      schema:
        type: string
        pattern: ^(?:W\/)?\".*\"$
    PaginationTotalCount:
      description: Total number of items in all pages of a paginated response.
      schema:
        format: int32
        minimum: 1
    Link:
      description: Standard link header.
      schema:
        type: string
    PaginationCurrentPage:
      description: Current page in a paginated response.
      schema:
        type: integer
        format: int32
        minimum: 1
    PaginationTotalPages:
      description: Total number of pages in a paginated response.
      schema:
        type: integer
        format: int32
        minimum: 1
    PaginationLimit:
      description: Maximum number of items returned in a paginated response.
      schema:
        type: integer
        format: int32
        minimum: 1
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
